.header
  %i.fas.fa-cog

.main
  .side_menu
    .saide_header
      = image_tag 'f_f_object_174_s64_f_object_174_0nbg.png'
      %h1 WhatTodo
    .side_lists
      %ul
        %li 今日
        %li 明日
        %li 今週

  .tasks
    .task_main
      .main_header
        %ul
          %li 完了
          %li 未完了
          %li
            %i.fas.fa-cog
      .task_add
        %input.text_field{type: "text", placeholder: "タスクの追加"}
        %input.add_button{type: "submit", value: "追加"}
      .task_lists
        .task_list
          %ul
            %li 買い物する
            %li 2020/07/09
        .task_list
          %ul
            %li 買い物する
            %li 2020/07/09
        .task_list
          %ul
            %li 買い物する
            %li 2020/07/09
        .task_list
          %ul
            %li 買い物する
            %li 2020/07/09
    .task_detail
      .detail_header
        .tasuku_name
          %h1 買い物する
        .task_date
          %ul
            %li 期限
            %li 2020/07/09
      .detail_main
        %h1 ノート
        .notes
          %input.note_field{type: "text"}
          %input.save_button{type: "submit", value: "保存"}

        %p テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト